<header class="masthead" style="background-image: url('{{site.baseurl}}img/workshop.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>{{ page.title }}</h1>
          <h2 class="subheading">{{page.subtitle}}</h2>
          <span class="meta"> <a href="#">{{page.date}}</a></span>
        </div>
      </div>
    </div>
  </div>
</header>
