<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    {% include masthead.html %}


    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">

            {{ page.content | markdownify }}

            <a href="#">
              <img class="img-fluid" src="{{site.baseurl}}/img/on-set.jpg" alt="Rocket Film Participants Shooting a Short Film">
            </a>
            <span class="caption text-muted">To go places and do things that have never been done before – that’s what living is all about.</span>

            {% include workshop-details.html %}

          </div>
        </div>
      </div>
    </article>

    <hr>


    {% include footer.html %}

    {% include scripts.html %}

  </body>
